.header img {
    width: 100px;
    height: 100px;
    display:inline-block;
    vertical-align: middle;
  }
.header {
    text-align: Center;
    position: fixed;
    background-color: rgb(17, 153, 22);
    left:0;
    right:0;
    top:0; 
    margin:0;
    width:100%;
    margin: 0;
}
  body{
    height:100vh;
  }
  
.category {
  margin-left: 20px;
  margin-right: 20px;
  background-color:black;
  color:white;
  padding:100px 10px;
  background-repeat: no-repeat;
  background-size:cover;
}

.nohover {
  pointer-events: none;
  text-decoration: none;
  filter:brightness(100%);
}

.column-home :hover{
  transform: scale(1.1);
}

.column-home {
    float: left;
    width: 33.33%;
    height:100%;
    text-align: center;
    text-decoration: none;
  }
  
.column-sidebar {
  float: left;
  width: 15%;
  text-align: center;
  position: fixed;
}

.column-blog {
  float: left;
  width: 70%;
  text-align: Center;
  margin-left: 15%;
}

.column-blog img {
  max-width: 100%;
  max-height: 50vh;
  padding: 10px;
}

.side{
  color:black;
  text-decoration: none;
}

.code {
  font-family: Consolas,"courier new";
  color: rgb(0, 0, 0);
  background-color: #d3d3d3;
  padding: 2px;
  font-size: 105%;
  display:inline-block;
  text-align: left;
  width: 75%;
  word-wrap:break-word;
  }
  .list{
    text-align: left;
    list-style-position: inside;
    width: 50%;
    display: inline-block;
  }

  /* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
  }

.responsive{
  width:45%;
  max-width: 50px;
  height: auto;
  padding: 10px;
}

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column-home {
      width: 100%;
    }
  }

  .bash_img {
    anchor-name: --myAnchor;
  }

  .container {
    position: relative;
    text-align: center;
    }

    .bash {
      background-color: black;
      color: white;
      font-size: medium ; 
      font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
      position-anchor: --myAnchor;
      width: calc(anchor-size(--myAnchor) / 1.255);
      top:328px;
      left:calc(anchor(left) + 93px);
      height:calc(anchor-size(height) * 0.48);
      text-align: left;
      position: absolute;
      font-size:20px;
      overflow-y: scroll;
    }